{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

    <a href="{% url 'home' %}" class="btn btn-warning">To categories</a>
    <table class="table table-striped table-hover">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Status</th>
          <th>Remains</th>
        </tr>
        {% for key, values in dict_to_cache.items %}
        <tr>
            <td>{{key}}</td>
            {% for k, v in values.items %}
              {% if k == 'status' and v == 'in_stock' %}
                <td>In stock</td>
              {% elif k == 'status' and v == 'out_of_stock' %}
                <td>Out of stock</td>
              {% else %}
                <td>{{ v }}</td>
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

      </table>
{% endblock %}