{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <a href="{% url 'home' %}" class="btn btn-warning">To categories</a>
    <table class="table table-striped table-hover">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Status</th>
          <th>Remains</th>
        </tr>
        {% for object in object_list %}
        <tr>
          <td><p>{{ object }}</p></td>
          <td><p>{{ object.price }}</p></td>
          <td><p>{{ object.get_status_display }}</p></td>
          <td><p>{{ object.remains }}</p></td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}